:root {
  --dark-gray-text: darkgray;
  --navy: #003366;
  --silver: #d0d0d0;
  --charcoal: #505050;
  --darkgray: #202020;
  --crimson: #123524;
  --white: #f8f8ff;
}

body {
  font-family: serif;
}

/* styling for the header */
header {
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: solid var(--navy);
  display: flex;
  justify-content: center;
  justify-content: space-between;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 100;
  text-decoration: none;
  color: var(--navy);
}

@media screen and (max-width: 750px) {
  header {
    color: var(--crimson);
    border-color: var(--crimson);

}
}

/* styling for the links */
a {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 100;
  text-decoration: none;
  color: var(--navy);
}
@media screen and (max-width: 750px) {
  a, span, h1, h2, h3{
    color: var(--crimson);
  }
}
/* throughout the page the main border colors are responsive to change - for large screens they are navy and crimson for small screens */

/* styling for headers */
h1 {
  font-size: 54px; /* change to em to make responsive */
  color: var(--navy);
  font-weight: 200;
}
@media screen and (max-width: 750px) {
  h1 {
    font-size: 35px;
  }
}
h2 {
  font-size: 52px;
  font-weight: 100;
  color: var(--navy);
}
h3 {
  font-size: 46px;
  font-weight: 100;
  color: var(--navy);
}
@media screen and (max-width: 750px) {
  h2, h3{
    color: var(--crimson);
    font-size: 25px;
  }
}

/* styling for profile picture */
#profile img {
  height: 250px;
  border-radius: 50%;
  border: solid 10px;
  border-color: var(--silver);
  margin: auto;
}
#profile img:hover {
   transform: scale(1.05);
    transition: 0.3s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    border-color: var(--navy);
}
@media screen and (max-width: 750px) {
  #profile img {
    border-color: var(--crimson);
  }
}
/* styling for links */
a:hover {
  cursor: pointer;
  cursor: hand;
  color: var(--darkgray);
}
/* styling for top container */
.container {
  width: 100%;
  margin: 0 auto;
}
main {
  width: 800px;
  margin: 0 auto;
}

/* styling for the about me paragraphs */
.p-box {
  width: 33%;
  padding: 10px;
  border: 5px solid var(--silver);
  margin: auto;
}
.p-box:hover {
   transform: scale(1.05);
    transition: 0.3s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    color: var(--navy);
    border-color: var(--navy);
}
@media screen and (max-width: 750px) {
  .p-box {
    padding: 5px;
    border: 3px solid var(--crimson);
}
}


section p {
  color: var(--dark-gray);
}
section p a {
   color: var(--dark-gray);
}
section {
  margin-bottom: 20px;
}

/* Main project which is larger than the other projects */
.coffee {
  width: 50%;
  height: 300px;
  border: 5px solid var(--silver);
  margin: auto;
  margin-bottom: 20px;
  /* background-color: var(--silver); */
  display: flex;
  background-image: url("https://images.pexels.com/photos/1772123/pexels-photo-1772123.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  /* width: 75%; */
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  /* border-radius: 50%; */
}



/* visited link */
.coffee a {
  color: var(--navy)
}

/*  Grouo of projects below the main project - they split the screen into thirds */
.projects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.turtle, .calculator, .rocks, .barter, .resort, .CoffeeMachine, .Team, .Coffee, .Employee, .Password{
  width: 50%;
  height: 300px;
  margin: auto;
  margin-bottom: 20px;
  border: 5px solid var(--silver);
  margin-top: 20px;
  background-color: var(--silver);
  color: var(--navy);
  display: flex;
  background-image: url("https://images.pexels.com/photos/531844/pexels-photo-531844.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
   background-repeat: no-repeat;
  background-size: cover;

}
.turtle li, .calculator li, .rocks li, .coffee li, .barter li, .resort li, .CoffeeMachine li, .Coffee li, .Team li, .Employee li, .Password li{
  flex-direction: row;
  align-content: flex-start;
  font-size: 30px;
}
.turtle li a:hover, .calculator li a:hover, .rocks li a:hover, .coffee li a:hover, .barter li a:hover, .resort li a:hover, .CoffeeMachine li a:hover, .Coffee li a:hover, .Team li a:hover, .Employee li a:hover, .Password li a:hover {
  color: black;
}
/* .turtle li a:visited, .calculator li a:visited, .rocks li a:visited, .coffee li a:visited{
  color: var(--white);
} */
.turtle:hover, .calculator:hover, .rocks:hover, .coffee:hover, .barter:hover, .resort:hover, .CoffeeMachine:hover, .Coffee:hover, .Team:hover, .Employee:hover, .Password:hover{
    transform: scale(1.05);
    transition: 0.3s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    border-color: var(--navy)
}
@media screen and (max-width: 750px) {
  .turtle, .calculator, .rocks, .coffee, .barter, .resort, .CoffeeMachine, .Team, .Coffee, .Employee, .Password{
    border-color: var(--crimson);
    width: 100%;
    height: 400px;
  }
}

.calculator {
    background-image: url("https://images.pexels.com/photos/1268871/pexels-photo-1268871.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-repeat: no-repeat;
  background-size: cover;
}

.rocks {
  background-image: url("https://images.pexels.com/photos/936094/pexels-photo-936094.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-repeat: no-repeat;
  background-size: cover;


}

.turtle {
  background-image: url("https://images.pexels.com/photos/5797899/pexels-photo-5797899.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: 100% 100%;
}
.resort {
  background-image: url("https://images.pexels.com/photos/5797899/pexels-photo-5797899.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: 100% 100%;
}
.CoffeeMachine {
  background-image: url("https://images.pexels.com/photos/373888/pexels-photo-373888.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: 100% 100%;
}
.Coffee {
  background-image: url("https://images.pexels.com/photos/977876/pexels-photo-977876.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: 100% 100%;
}
.Employee{
background-image: url("https://images.pexels.com/photos/1367276/pexels-photo-1367276.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: 100% 100%;
}
.Password {
background-image: url("https://images.pexels.com/photos/218413/pexels-photo-218413.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: 100% 100%;
}
.Team {
  background-image: url("https://images.pexels.com/photos/3183150/pexels-photo-3183150.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: 100% 100%;
}
.barter{
  background-image: url("https://images.pexels.com/photos/1036635/pexels-photo-1036635.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: 100% 100%;
}
.resort{
background-image: url("https://images.pexels.com/photos/1268871/pexels-photo-1268871.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: 100% 100%;
}


@media screen and (max-width: 750px) {
  .calculator, .rocks, .turtle, .coffee{
  border-color: var(--crimson);
  }
}
/* styling for the bottom-nav */
 .bottom-nav {
  border-top: solid var(--navy);
  display: flex;
  justify-content: center;
  justify-content: space-around;

  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 100;
  text-decoration: none;
  color: var(--navy);
}

@media screen and (max-width: 750px) {
  .bottom-nav {
    color: var(--crimson);
    border-color: var(--crimson);

}


/* styling for the social profiles */

.bottom-nav .social {
  color: var(--navy);
}

@media screen and (max-width: 750px) {
  .bottom-nav .social {
    color: var(--crimson);
  }
}
.bottom-nav .social {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

span {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 100;
  font-size: 18px;
  color: var(--navy);
}
@media screen and (max-width: 750px) {
  span {
    color: var(--crimson);
    font-size: 12px;
  }
}
}
/* styling for contact me section */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}
@media screen and (max-width: 750px) {
  input[type=text], select, textarea {
  width: 100%;
  padding: 6px;
  border-radius: 2px;
  margin-top: 3px;
  margin-bottom: 8px;
  }
}


input[type=submit] {
  background-color: var(--navy);
  color: var(--white);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
@media screen and (max-width: 750px) {
  input[type=submit] {
    background-color: var(--crimson);
    padding: 6px 10px;
    border-radius: 2px;

  }
}


input[type=submit]:hover {
  background-color: var(--silver);
}


.contact {
  border-radius: 5px;
  background-color: var(--white);
  padding: 20px;
}
@media screen and (max-width: 750px) {
  .contact{
    padding: 10px;
  }
}

#contact {
  color: var(--navy);
}
@media screen and (max-width: 750px) {
  #contact{
    color: var(--crimson);
  }
}

/* styling for the footer */
footer p {
  display: flex;
  justify-content: center;
}
