:root {
  --dark-gray-text: darkgray;
  --orange-text: orange;
  --navy: #003366;
  --silver: #d0d0d0;
  --charcoal: #505050;
  --darkgray: #202020;
  --crimson: #690015;
  --white: #f8f8ff;
}

body {
  font-family: serif;
}
/* styling for the links */
a {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 100;
  text-decoration: none;
  color: var(--navy);
}
@media screen and (max-width: 750px) {
  a, span, h1, h2, h3{
    color: var(--crimson);
  }
}
/* throughout the page the main border colors are responsive to change - for large screens they are navy and crimson for small screens */

/* styling for headers */
h1 {
  font-size: 54px; /* change to em to make responsive */
  color: var(--navy);
  font-weight: 200;
}
@media screen and (max-width: 750px) {
  h1 {
    font-size: 35px;
  }
}
h2 {
  font-size: 52px;
  font-weight: 100;
  color: var(--navy);
}
h3 {
  font-size: 46px;
  font-weight: 100;
  color: var(--navy);
}
@media screen and (max-width: 750px) {
  h2, h3{
    color: var(--crimson);
    font-size: 25px;
  }
}

/* styling for profile picture */
#profile img {
  height: 250px;
  border-radius: 50%;
  border: solid 10px;
  border-color: var(--navy);
  margin: 25px;
}
@media screen and (max-width: 750px) {
  #profile img {
    border-color: var(--crimson);
  }
}
/* styling for links */
a:hover {
  cursor: pointer;
  cursor: hand;
  color: var(--darkgray);
}
/* styling for top container */
.container {
  width: 100%;
  margin: 0 auto;
}
main {
  width: 800px;
  margin: 0 auto;
}
/* styling for paragraphs */
section p {
  color: var(--dark-gray-text);
}
@media screen and (max-width: 750px) {
   section p{
    color: var(--darkgray);
  }
}
section {
  margin-bottom: 20px;
}

/* Main project which is larger than the other projects */
.coffee {
  width: 400px;
  height: 800px;
  border: 15px solid var(--navy);
  margin: 20px;
  background-color: var(--silver);
  color: var(white);
  display: flex;
  background-image: url("https://images.pexels.com/photos/5480759/pexels-photo-5480759.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  /* this needs to be changed with media queries */
  width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

/*  Grouo of projects below the main project - they split the screen into thirds */
.projects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.turtle, .calculator, .rocks{
  width: 33%;
  border: 15px solid var(--navy);
  margin: 20px;
  background-color: var(--silver);
  color: var(--white);
  display: flex;
  background-image: url("https://images.pexels.com/photos/847393/pexels-photo-847393.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  width: 25%;
  height: 500px;
}
.turtle li, .calculator li, .rocks li, .coffee li {
  flex-direction: column;
  align-content: flex-start;
  font-size: 30px;
}
.turtle li a:hover, .calculator li a:hover, .rocks li a:hover, .coffee li a:hover {
  background-color: #ddd;
  color: black;
}
.turtle li a:visited, .calculator li a:visited, .rocks li a:visited, .coffee li a:visited{
  color: var(--white);
}
.turtle:hover, .calculator:hover, .rocks:hover, .coffee:hover {
    transform: scale(1.05);
    transition: 0.3s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
@media screen and (max-width: 750px) {
  .turtle, .calculator, .rocks, .coffee{
    border-color: var(--crimson);
    width: 100%;
    height: 400px;
  }
}

.calculator {
    background-image: url("https://images.pexels.com/photos/374918/pexels-photo-374918.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}

.rocks {
  background-image: url("https://images.pexels.com/photos/133372/pexels-photo-133372.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");

}

@media screen and (max-width: 750px) {
  .calculator, .rocks, .turtle, .coffee{
  border-color: var(--crimson);
  }
}
*/

.bottom-nav .social {
  color: var(--navy);
}

@media screen and (max-width: 750px) {
  .bottom-nav .social {
    color: var(--crimson);
  }
}
.bottom-nav .social {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#resume {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer p {
  display: flex;
  justify-content: center;
}



header {
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: solid var(--navy);
  display: flex;
  justify-content: center;
  justify-content: space-between;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 100;
  text-decoration: none;
  color: var(--navy);
}

@media screen and (max-width: 750px) {
  header {
    color: var(--crimson);
    border-color: var(--crimson);

}
}
 .bottom-nav {
  position: sticky;
  bottom: 0;
  border-top: solid var(--navy);
  display: flex;
  justify-content: center;
  justify-content: space-around;

  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 100;
  text-decoration: none;
  color: var(--navy);
}

@media screen and (max-width: 750px) {
  .bottom-nav {
    color: var(--crimson);
    border-color: var(--crimson);

}
}

.about {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 750px) {
  .about {
    color: var(--crimson);
    border-color: var(--crimson);
    flex-wrap: wrap;

}
}

.about #personal-info, #education, #experience {
  margin: 25px;
  padding: 25px;
}

@media screen and (max-width: 750px) {
  .about #personal-info, #education, #experience  {
    margin: 5px;
    padding: 5px;
}
}
/* styling for images linking social media */
span {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 100;
  font-size: 18px;
  color: var(--navy);
}
@media screen and (max-width: 750px) {
  span {
    color: var(--crimson);
    font-size: 12px;
  }
}
